specVersion: 1.2.0
indexerHints:
  prune: auto
schema:
  file: ./schema.graphql
dataSources:
{{#tradingPairs}}
  - kind: ethereum
    name: {{name}}
    network: monad-testnet
    source:
      address: "{{address}}"
      abi: KuruOrderBook
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      entities:
        - Trade
        # Note: To add more events:
        # 1. Add new entity name here
        # 2. Define entity in schema.graphql
        # 3. Add event handler in mapping.ts
      abis:
        - name: KuruOrderBook
          file: ./abis/KuruOrderBook.json
      eventHandlers:
        - event: Trade(uint40,address,bool,uint256,uint96,address,address,uint96)
          handler: handleTrade
          # Note: To add more event handlers:
          # - event: NewEvent(param1,param2,...)
          #   handler: handleNewEvent
      file: ./src/mapping.ts
{{/tradingPairs}} 